html,
body {
    height: 100%;
    padding-top: 35px;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

#youSignAs {
    padding: 19.5px 15px;
    color: #fff;
}
#youSignAs a {
    display: inline;
    margin: 0;
    padding: 0;
}

.m-b-10 {
    margin-bottom: 10px;
}
.m-l-10 {
    margin-left: 10px;
}
.m-r-10 {
    margin-right: 10px;
}
.m-t-10 {
    margin-top: 10px;
}
.done-true {
    text-decoration: line-through;
    color: grey;
    font-style: italic;
}
.table-striped tr.priority-5,.table-striped tr.priority-5:nth-of-type(odd) {
    background-color: rgba(255, 40, 40, 1);
}
.table-striped tr.priority-4,.table-striped tr.priority-4:nth-of-type(odd) {
    background-color: rgba(255, 70, 70, 1);
}
.table-striped tr.priority-3,.table-striped tr.priority-3:nth-of-type(odd) {
    background-color: rgba(255, 120, 120, 1);
}
.table-striped tr.priority-2,.table-striped tr.priority-2:nth-of-type(odd)  {
    background-color: rgba(255, 165, 165, 1);
}
.table-striped tr.priority-1,.table-striped tr.priority-1:nth-of-type(odd)  {
    background-color: rgba(255, 230, 230, 1);
}

.navbar-brand {
    padding: 0px;
}
.navbar-brand > img {
    height: 100%;
    padding: 3px;
    width: auto;
}